@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Titillium+Web&display=swap');

.title {
  font-family: "Titillium Web", sans-serif;
}

.subtext {
  font-family: "Roboto", sans-serif;
}

* {
    box-sizing: border-box;
}

/**********/
/* Layout */
/**********/
aside, header, nav, section, article {
    display: flex;
    flex-direction: column;
}
body {
    overflow: hidden;
    margin: 0px;
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: auto 100px;
    grid-template-areas:
       "left main"
       "left main";
    height: 100vh;
}

aside {
    background-color: #000;
    grid-area: left;
}

header {
    background: #111;
    position: fixed;
    width: calc(100vw - 250px);
    left: 250px;
}

main {
    background: #111;
    grid-area: main;
    min-height: calc(350px);
    overflow-y: auto;
    z-index: 3;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 50px;
  padding-right: 25px;
}

footer{
  display: none;
}

.pro {
  color: #FFF;
}

aside > a  {
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
  margin-left: 5px;
}


/************/
/* Team CSS */
/************/

#nova1 {
 background-color: #13b5ea;
}
#nova2 {
  background-color: #00205b;
}

#sj1 {
 background-color: #041C2C;
}
#sj2 {
  background-color: #BA0C2F;
}

#gt1 {
  background-color: #041E42;
}
#gt2 {
  background-color: #8D817B;
}

#dep1 {
  background-color: #96031f;
}
#dep2 {
  background-color: #005EB8;
}

#but1 {
  background-color: #13294b;
}
#but2 {
  background-color: #d1e0d7;
}

#mq1 {
  background-color: #d6b11a;
}
#mq2 {
  background-color: #003366;
}

#cr1 {
  background-color: #00235D;
}
#cr2 {
  background-color: #6CADDE;
}

#x1 {
  background-color: #0C2340;
}
#x2 {
  background-color: #9EA2A2;
}

#pro1 {
  background-color: #8a8d8f;
}
#pro2 {
  background-color: #000;
}

#con1 {
  background-color: #a2aaad;
}
#con2 {
  background-color: #000e2f;
  color: #FFF;
}

#shu1 {
  background-color: #a2aaad;
}
#shu2 {
  background-color: #004488;
}
